.dashboard-link-text {
    font-size: 20px;
    color: #17a2b8;
    padding: 10px 0;
    text-decoration: none;
  }
  
  .dashboard-link-text:hover {
    color: #17a2b8;
   
    transform: translateX(5px);
  }